In [1]:
import numpy as np
import pandas as pd

In [18]:
d=pd.read_csv('data_with_na.csv',encoding='utf-8')
d.drop(['ID','Unnamed: 0'],axis=1,inplace=True)

In [19]:
d

,flag,控制人ID,控制人持股比例,注册时间,注册资本,专利,商标,著作权,2015_债权融资成本,2015_债权融资额度,...,股份有限公司,集体所有制企业,企业法人,自然人,交通运输业,商业服务业,工业,服务业,社区服务,零售业
0,1.0,NaN,NaN,2007.0,2050.0,0.0,1.0,1.0,0.0,0.0,...,0,0,1,0,1,0,0,0,0,0
1,1.0,NaN,1.00,2008.0,3360.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,1,0,0
2,1.0,NaN,0.75,2005.0,9670.0,1.0,0.0,0.0,1547.2,19340.0,...,0,1,0,1,0,0,1,0,0,0
3,1.0,NaN,0.98,2011.0,8360.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,1,0
4,1.0,NaN,0.54,2001.0,8720.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45926,0.0,29995.0,0.83,2000.0,9650.0,0.0,1.0,1.0,0.0,0.0,...,0,0,1,0,0,0,1,0,0,0
45927,0.0,29996.0,0.93,2011.0,2170.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
45928,0.0,29997.0,0.73,2013.0,9030.0,1.0,1.0,0.0,0.0,0.0,...,0,1,1,0,1,0,0,0,0,0
45929,0.0,29998.0,0.64,2014.0,4510.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,1,0,0,0,1,0,0
45930,0.0,29999.0,0.80,2014.0,9130.0,1.0,1.0,1.0,0.0,0.0,...,1,0,0,1,1,0,0,0,0,0

In [21]:
d.dropna(how='any',inplace=True)
d

,flag,控制人ID,控制人持股比例,注册时间,注册资本,专利,商标,著作权,2015_债权融资成本,2015_债权融资额度,...,股份有限公司,集体所有制企业,企业法人,自然人,交通运输业,商业服务业,工业,服务业,社区服务,零售业
7048,1.0,1.0,0.89,2010.0,6680.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,1,0,1,0,0,0,0
7051,1.0,614.0,0.58,2001.0,7730.0,0.0,0.0,0.0,0.0,0.0,...,0,1,1,0,0,0,1,0,0,0
7052,1.0,1057.0,0.84,2002.0,6840.0,0.0,1.0,1.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,0
7054,1.0,1967.0,0.81,2011.0,6120.0,0.0,0.0,0.0,0.0,0.0,...,0,1,1,0,1,0,0,0,0,0
7056,1.0,2067.0,0.56,2001.0,8430.0,1.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45925,0.0,29994.0,0.65,2011.0,2960.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,1,0,0,0,0
45926,0.0,29995.0,0.83,2000.0,9650.0,0.0,1.0,1.0,0.0,0.0,...,0,0,1,0,0,0,1,0,0,0
45927,0.0,29996.0,0.93,2011.0,2170.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
45928,0.0,29997.0,0.73,2013.0,9030.0,1.0,1.0,0.0,0.0,0.0,...,0,1,1,0,1,0,0,0,0,0
45930,0.0,29999.0,0.80,2014.0,9130.0,1.0,1.0,1.0,0.0,0.0,...,1,0,0,1,1,0,0,0,0,0

In [23]:
d.to_csv('data_without_na.csv',index=0,encoding='utf-8')